---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<div class="landing-container">
			<Nav />
			<slot />
		</div>

		<script>
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>

		<style>
			.landing-container {
				min-height: 100vh;
				display: flex;
				flex-direction: column;
				background:
					url('/assets/backgrounds/noise.png') top center/220px repeat,
					var(--gray-999);
				background-blend-mode: overlay, normal;
			}

			@media (min-width: 50em) {
				.landing-container {
					max-height: 100vh;
					overflow: hidden;
				}
			}

			@media (forced-colors: active) {
				.landing-container {
					background: none;
				}
			}
		</style>
	</body>
</html>
